* {
  background-color: black;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    height: 60px;
    padding: 0 20px;
  }

  .navbar__logo {
    font-size: 24px;
    font-weight: bold;
  }

  .navbar__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
  }

  .navbar__menu a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
  }

  /* CSS for logo */
  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }

  .logo {
    width: 200px;
    height: 200px;
    background-color: #333;
    color: #fff;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }